# Node dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/

# Coverage
coverage/

# Docker volumes
mongodb_data/

# VS Code
.vscode/